body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

.web-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;

  text-decoration: none;
}
.header-class {
  border-bottom: 1px solid #e7e9fc;
}

.web-spa {
  color: #2e2f42;
}
.web-logo-nav {
  display: flex;
  align-items: center;
}
.container-container-header {
  border-bottom: 1px solid #e7e9fc;
  width: 1440px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1158px;
  padding: 0 15px;
  margin: auto;
}

.page-logo-title1 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 3%;
  color: #4d5ae5;
  text-decoration: none;
}

.page-logo-title2 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 3%;
  color: #2e2f42;
  text-decoration: none;
}

.page-menu-list li {
  list-style-type: none;
}
.page-menu-list-nav {
  display: flex;
  align-items: center;
}
.page-menu-list a {
  line-height: 1.5;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-right: 76px;
  text-decoration: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.page-menu-list a:hover {
  color: rgba(64, 75, 191, 1);
}

.page-menu-list a:focus {
  color: rgba(64, 75, 191, 1);
}

.page-menu-list {
  cursor: pointer;
  display: flex;
  gap: 40px;

  text-decoration: none;
  position: relative;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.page-menu-list a {
  text-decoration: none;
  position: relative;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.page-menu-list a:active::after {
  content: "";
  background-color: #404bbf;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 0;

  top: 44px;
  gap: 0px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  align-items: center;
}
.page-menu-list {
  padding: 24px 0;
}
.social-link {
  font-style: normal;
}

.social-link-two {
  display: flex;
  list-style-type: none;
  gap: 40px;
}
.web-link a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition-property: color, opacity;
}

.social-link a:hover {
  color: #404bbf;
}

.social-link a:focus {
  color: #404bbf;
}
.social-link a {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.header {
  line-height: 1.07;
  font-size: 56px;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 496px;
  margin: auto;
  text-align: center;
  max-width: 496px;
}

.button:focus {
  background-color: #404bbf;
}

.button {
  cursor: pointer;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  height: 56px;
  background-color: #4d5ae5;
  left: 636px;
  top: 428px;
  font-size: 16px;
  gap: 10px;
  margin: auto;

  color: #ffffff;
  line-height: 1.5;
  font-weight: 500;
  padding: 16px 32px 16px 32px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.button:hover {
  background-color: #404bbf;
}
.special {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent),
    url(../images/img12.jpg) center / cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1440px;
  width: 100%;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 188px 0;
}

.section-center {
  padding: 120px 0;
  align-items: center;
  justify-content: center;

 

}
.section-one {
  display: flex;
  list-style: none;
  gap: 24px;

  align-items: center;

  
}
.section-one svg {
  width: 264px;
  height: 112px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;

  border-radius: 4px 4px 4px 4px;

  border: 1px solid rgba(142, 143, 153, 1);
}
.class-center {
  width: calc((100%-72px) / 4);
  align-items: center;
  justify-content: center;

  width: Fixed (264px) px;
  height: Hug (224px) px;
  top: 792px;
  left: 156px;
  gap: 8px;
  opacity: 0px;
}

.head-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;

  width: 264px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
}

.text-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  width: 264px;
  height: 72px;
  gap: 0px;
  opacity: 0px;
  margin: auto;
}

.section-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.team-one {
  background-color: #ffffff;

  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
  padding: 0px 0px 32px 0px;
  gap: 32px;
  width: 264px;
  height: 428px;

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);

  box-shadow: 0px 1px 1px 0px rgba(46, 47, 66, 0.16);

  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-list {
  padding: 0px 0px 32px 0px;
  list-style-type: none;
  border-radius: 0px 0px 4px 4px;
  width: Fixed (232px) px;
  height: Hug (104px) px;
  gap: 8px;
  opacity: 0px;
}

.socal-icons {
  width: Hug (232px) px;
  height: Hug (40px) px;
  gap: 24px;
  opacity: 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-icons a {
  width: Hug (232px) px;
  height: Hug (40px) px;
  gap: 24px;
  opacity: 0px;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-icons li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.social-icons {
  width: Hug (232px) px;
  height: Hug (40px) px;
  gap: 24px;
  opacity: 0px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}
.social-icons li {
  background: rgba(77, 90, 229, 1);

  width: 16px;
  height: 16px;
  top: 12px;
  left: 12px;
  gap: 0px;
  opacity: 0px;
  width: 40px;
  height: 40px;
  top: -0px;
  gap: 0px;
  opacity: 0px;
  border-radius: 50%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.social-icons li :hover {
  --color2: rgba(64, 75, 191, 1);
}
.our-team {
  background: #f4f4fd;
  padding: 120px 0;
}
.our-team ul {
  display: flex;
  gap: 24px;
}
.about-people {
  padding: 32px 0;
  margin: auto;
}
.people-name {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.job-name {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-one {
  padding: 120px 0;
}
.our-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.dark-application {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 4px;
}
.application-two {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-victory {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0px 0px 32px 0px;
}

.portfolio-end {
  width: calc((100%-72px) / 4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
}

.port-img {
  position: relative;
  overflow: hidden;

  box-shadow: 0px 1px 6px 0px #2e2f4214;
}

.port-img img {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
}

.section-4-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
  background: rgba(77, 90, 229, 1);
}
.section-4-hover {
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, pointer-events;
}
.parent-element {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, pointer-events;
}
.parent-element:hover .section-4-hover {
  pointer-events: auto;
}

.portfolio-end:hover .section-4-hover {
  opacity: 1;
}

.portfolio-end:hover .port-img img {
  opacity: 0;
}
.portfolio-end:hover {
  box-shadow: 0px 1px 6px 0px #2e2f4214;
}

.section-4-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #f4f4fd;
  position: absolute;
  width: 296px;
  height: 96px;
  left: 32px;
  top: 40px;
}

.category {
  width: Fixed (360px) px;
  height: Fixed (120px) px;
  top: 300px;
  padding: 32px 16px 32px 16px;
  gap: 8px;
  border: 0px 1px 1px 1px;
  opacity: 0px;
  border-width: 0px, 1px, 1px, 1px;
  border: 1px solid #e7e9fc;
  border-color: rgba(231, 233, 252, 1);
}

.footer-text {
  font-size: 16px;
  color: #e7e9fc;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  text-align: left;

  max-width: 264px;
}
.web-footer {
  background: #2e2f42;
  padding: 100px 0;
  
}
.web-footer a {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-spa {
  color: #f4f4fd;
}

.container {
  width: 1158px;
  margin: 0 auto;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
  padding: 0 15px;
}

img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.social-footer {
  width: 96px;

  position: absolute;
  top: 3270px;
  left: 560px;
  gap: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  width: auto;
  height: auto;
  line-height: normal;
}

.social-text {
  margin: 0;
  height: auto;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
}
.social-icons-footer {
  border-radius: 10px;
  width: Hug (208px) px;
  height: Hug (40px) px;
  top: 3296px;
  left: 540px;
  gap: 16px;
  opacity: 0px;
}
.social-icons-footer li {
  border-radius: 50%;

  display: inline-block;
  margin: 0;
  padding: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.social-icons-footer li:hover {
  --color2: rgba(49, 208, 170, 1);
  border-radius: 50%;
}

.footer-form{
  /*width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);*/

width: 453px;
height: 80px;
  margin-left: auto;
 
}

.footer-form .text-subscribe {
  color: white;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  font-weight: 500;
}
.footer-form .footer-form-div{
  display: flex;
  gap: 24px;
}
.footer-form .mail-footer-div{
   display: flex;
  gap: 16px;
  flex-direction: column;
}
.footer-form .mail-footer{ 
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer-form .subs-button{
  font-family: "Roboto", sans-serif;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form .paper-icons-footer {
  fill: #fff;
  margin-left: 16px;
}
.side-by-side{
  display: flex;
}
.form-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  padding: 72px 24px 24px 24px;
  
}

.modal-backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 47, 66, 0.4);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}



.button-close {

 display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
  padding: 0;
  line-height: 0;
  background-color: #e7e9fc;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon{
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover{
   --color1:#404bbf;
   --color3:rgba(255, 255, 255, 1);
  border: none;
  fill: #ffffff;
} 

.button-close:focus{
  --color1: #404bbf;
  --color3:rgba(255, 255, 255, 1);
  border: none;
  fill: #ffffff;
} 


.contact-text{
  max-width: 360px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
 
}

.form-in-div {
margin-bottom: 8px;
}
.user-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.form-input {
  position: relative;
}
.part-form {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.part-form:focus{
   border-color: #4d5ae5;
  outline: none;
}
.part-form:focus +  .icon-form {
 fill: #4d5ae5;
}
.icon-form {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-form:focus{
  color:  #4d5ae5;;
}
.textarea-form{
  margin-bottom: 16px;
}
.textarea-comment{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.textarea-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.textarea-comment:focus {
outline: none;
  border-color: #4d5ae5;
}
.privarcy-checbox{
 margin-bottom: 24px;
}

.checkbox-tick {
  width: 338px;
  height: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
  color: rgba(117, 117, 117, 1);
  top: 32px;
  left: 20px;
}
.checkbox-text-two{
    text-decoration: underline;
  color: #4d5ae5;
}
/*checkbox-text-one {
    display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/

/*.checkbox-class:checked {
 background-color: #404bbf;
}*/
/*.checkbox-class:checked .click-icon{
  opacity: 1;
}*/
/*.checkbox-class{
  width: 16px;
  height: 16px;
  position: absolute;
  left: 2px;
  top: 30px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px, solid #2e2f4266;
  border-radius: 2px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}*/
/*.click-icon{
    position: relative;
  cursor: pointer;
opacity:0;

}/
.click-icon:focus{
  opacity: 1;
}*/




.button-class {
    min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-class:hover, .button-class:focus {
  background-color: #404bbf;
}